.button{
    background-color: #596ea1;
    color: white;
    width: 60%;
    padding-top: 5%;
    padding-bottom: 5%;
}


.button:hover {
    background-color: #22234b;
}
  

@media only screen and (max-width: 1000px) {
    .button {
      width: 60%;
    }
}